body {
  background-color: white;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.item2 {
  margin-left: 1500px;
}

#nameLink {
  display: inline-block;
  color: black;
  font-size: 25px;
  border-top-width: 30px;
  text-decoration: none;
  margin-top: 15px;
}

#formDiv {
  margin: auto;
  width: 60%;
  border: 3px solid #2196F3;
  padding: 10px;
  text-align: center;
}